@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    
}

body, nav{
    background-color: #FAD6A5;
}

h1 {
    color:black;
    display: flex;
    align-items: center;
}

.tarjetasAtracciones{
    display: flex;
    flex-direction: row;
    float: left;
 	padding: .75rem;
 	border: 0;
 	align-items: center;
}

.tarjetasAtracciones > img{
    max-width: 100%;
    height: auto;
}

/*.tarjetasAtracciones-wrap {
	overflow-x: scroll;
	display: flex;
} */
