*{
    margin: 0;
    padding: 0;
    
}

body, nav{
    background-color: #FAD6A5;
}

h1 {
    color:black;
    display: flex;
    align-items: center;
}

.tarjetasAtracciones{
    display: flex;
    flex-direction: row;
}

